* {
  margin: 0rem;
  padding: 0rem;
  box-sizing: border-box;
}

.header {
  background-color: #333;
  color: #fff;
  padding: 10px 0;
}

.navbar {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.navItem {
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.navItem a {
  text-decoration: none;
  color: #fff;
  transition: color 0.3s;
}

.navItem:hover {
  background-color: #555;
}

.navItem:hover a {
  color: #ffcc00;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #474444;
}

.app {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: rgb(126, 103, 103);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: space-between;
  justify-content: space-between;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.addTodoSection {
  margin-bottom: 20px;
}

form {
  display: flex;
  align-items: center;
}

label {
  margin-right: 10px;
}

input[type="text"] {
  flex-grow: 1;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button#addTodo {
  padding: 8px 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#todos {
  border-top: 1px solid #ccc;
  padding-top: 20px;
}

.todoItem {
  display: flex;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #ccc;
}

input[type="checkbox"] {
  margin-right: 10px;
}

.todoTitle {
  flex-grow: 1;
  margin-right: 10px;
}

.deleteTodo {
  padding: 4px 8px;
  background-color: #dc3545;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
